set axi_crossbar_configuration [list \
    CONFIG.NUM_SI {1} \
    CONFIG.NUM_MI {4} \
    \
    CONFIG.ID_WIDTH {3} \
    CONFIG.S00_THREAD_ID_WIDTH {3} \
    \
    CONFIG.ADDR_RANGES {1} \
    CONFIG.M00_A00_ADDR_WIDTH {16} \
    CONFIG.M00_A00_BASE_ADDR {0x0000000050000000} \
    CONFIG.M01_A00_ADDR_WIDTH {16} \
    CONFIG.M01_A00_BASE_ADDR {0x0000000050010000} \
    CONFIG.M02_A00_ADDR_WIDTH {16} \
    CONFIG.M02_A00_BASE_ADDR {0x0000000050020000} \
    CONFIG.M03_A00_ADDR_WIDTH {16} \
    CONFIG.M03_A00_BASE_ADDR {0x0000000050030000} \
]
